<div class="container">
    <mat-card class="card" style="">
        <mat-card-header>
            <mat-card-title><b>Enfermagem</b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="send">
                <button class="sendButton" mat-raised-button color="primary">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">
                        person_pin_circle</mat-icon>
                    Histórico
                </button>
                <button class="sendButton" mat-raised-button color="primary">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">apps</mat-icon>
                    Relatório Anual
                </button>
                <button class="sendButton" mat-raised-button color="primary">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">apps</mat-icon>
                    Escala de Katz
                </button>
                <button class="sendButton" mat-raised-button color="primary">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">apps</mat-icon>
                    Protocolo de Ciscunstâncias Adversas
                </button>
                <button class="sendButton" mat-raised-button color="primary">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">apps</mat-icon>
                    Prescrição
                </button>
                <button class="sendButton" mat-raised-button color="primary">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">apps</mat-icon>
                    Evolução
                </button>
            </div>
        </mat-card-content>



    </mat-card>
    
    
</div>