.space {
  flex: 1 1 auto;
}

img {  
  padding: 5px;
  max-height: 55px;
}

mat-toolbar {
  // background-image: url('../../../../assets/CaritasGestaoBG.png');
  color: white;
  background-color: #0c0ca7;
  background-image: url(http://gestaocaritas.com.br/caritas-acolhidos/caritasBg.png);
    // background-attachment: fixed;
}

mat-icon {
  font-size: 32px;
  cursor: pointer;
}

button {
  background-color: transparent;
  color: white;
  border: none;
}

.logoCaritas {
  
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}