<mat-toolbar>
    <!-- <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button> -->
    <span class="logoCaritas"><img src=".\assets\images\LogoCaritas.png"></span>
        
    <span class="space"></span>
    <button mat-icon-button style="color: gray;">
        <mat-icon>widgets</mat-icon>
    </button>
    <h2 style="padding-left: 10px; margin-right: 30px; font-size: 14px; color: gray;">widgets</h2> 
    <h2 style="padding-right: 10px; font-size: 14px;">Ola {{userName}}</h2>
    <button mat-icon-button>
        <mat-icon (click)='backToLogin()'>exit_to_app</mat-icon>
    </button>
</mat-toolbar>