<div class="background">
    <div class="caritasLogo">
        <!-- <img src="./assets/LogoCaritas.png"> -->
    </div>


    <div class="boxBackground">
        <div class="transbox">
            <div class="loginHeader">
                <div class="textHeader">Bem vindo ao Cáritas!</div>
                <div class="textTopic">Sistema de gestão de acolhidos da</div>
                <div class="logoBezerra">
                    <!-- <img class="logoLogin" alt="logoBezerradeMenezes" src="./assets/logoBezerradeMenezes.png"> -->
                </div>
            </div>

            

            


        </div>

    </div>

</div>