// mat-sidenav-container, mat-sidenav-content, mat-sidenav {
//     height: 100%;
// }
mat-sidenav {
    width: 250px;
    height: 100%;
    overflow: hidden;
}

mat-sidenav-container {
    height: max-content;
    overflow-y: scroll;
    background-color: #dee6f7
}

.loader-container {
    position: fixed;
    width: 100%;
    z-index: 99;
    padding-top:1px;
}

.spinner-container {
    position: absolute;
    height:100%;
    width: 100%;
    background: black;
    opacity: 0.2;
    z-index: 99;
}