<div class="container">
    <mat-card class="card" style="height: 120px;">
        <mat-card-header class="gradientRed">
            <mat-card-title>Admin/<b>Lista de Usuários </b></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="send">
                <button class="sendButton" mat-raised-button color="primary"
                    (click)="onNavigateTo('/admin-configuration')">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">engineering
                    </mat-icon>
                    Configurações de usuários
                </button>
                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('/list-users')" disabled>
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">view_lists
                    </mat-icon>
                    Lista de todos os usuários
                </button>
                <button class="sendButton" mat-raised-button color="primary" (click)="onNavigateTo('//log-info')">
                    <mat-icon _ngcontent-rex-c82="" role="img"
                        class="mat-icon notranslate material-icons mat-icon-no-color" aria-hidden="true">info</mat-icon>
                    Informações de log
                </button>
            </div>
        </mat-card-content>

    </mat-card>
    <mat-card class="card" style="min-height: 800px;">
        <mat-card-header>
            <p>
                <mat-card-title> Lista de Usuarios</mat-card-title>
            </p>
        </mat-card-header>
        <mat-card-content>
            <br />
            <table mat-table="dataSource" class="mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef> Weight </th>
                    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="symbol">
                    <th mat-header-cell *matHeaderCellDef> Symbol </th>
                    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                </ng-container>

            </table>
        </mat-card-content>
    </mat-card>

</div>