mat-form-field, mat-form-field-wrapper, mat-form-field-flex {
    height: 30px;
    margin: 15px;
    border-radius: 2px;
    padding: 0.2rem;
    background-color: white;
}

.container {
    // grid-template-columns: 1fr minmax(920px, 4fr) 1fr;
    background-color: rgba(227, 227, 228, 0.911);
    max-height: fit-content;
    width: 80%;
}

.card {
    max-height: fit-content;
}

.gradientRed{
    background: linear-gradient(90deg, rgba(88,0,0,1) 0%, rgba(136,9,9,1) 35%, rgba(252,23,74,1) 100%);
    color:white;
    padding-top: 10px;
  }
  
  table {
    width: 100%;
 }

.sendButton {
    margin-left: 5px;
    margin-top: 5px;
    background: red;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    max-height: fit-content;
    // grid-gap: 5px;
}

//   <<<<<< FORM >>>>>>



@media screen and (max-width: 1700px) {
    .container {
        width: 90%;
    }
}
